@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("../styles/theme.css");

body {
  font-family: "Poppins", sans-serif;
}

@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }

  .flex-between {
    @apply flex justify-between items-center;
  }

  .flex-start {
    @apply flex justify-start items-center;
  }

  .flex-end {
    @apply flex justify-end items-center;
  }

  .camera-button {
    @apply bg-dark-100 absolute bottom-2 right-2 p-2 flex-center rounded-lg cursor-pointer;
  }
}

@layer components {
  /* SHADCN COMPONENTS */

  /* Form and inputs */

  .shad-auth_form_label {
    @apply text-light-900 text-[13px] font-normal !important;
  }

  .shad-auth_form_input {
    @apply h-11 bg-dark-300 border-none placeholder:text-light-500 focus-visible:ring-1 focus-visible:ring-offset-1 ring-offset-light-500 text-light-900 w-full !important;
  }

  .shad-auth_form_select_placeholder {
    @apply text-[#3667c2] font-normal !important;
  }

  .shad-auth_form_select_option {
    @apply bg-dark-300 text-light-500 border-dark-400  !important;
  }

  .shad-auth_form_select_item {
    @apply hover:text-light-850 hover:bg-dark-400 cursor-pointer h-10  !important;
  }

  .shad-auth_form_message {
    @apply text-custom-100 font-normal text-xs !important;
  }

  .shad-auth_form_textarea {
    @apply bg-dark-300 border-none placeholder:text-light-500 focus-visible:ring-1 focus-visible:ring-offset-1 ring-offset-light-500 text-light-900 !important;
  }

  /* Button */

  .shad-button_primary {
    @apply h-11 bg-primary-500 hover:bg-primary-500 text-light-900 flex gap-2 !important;
  }

  .shad-btn_primary-200 {
    @apply h-10 bg-primary-500 hover:bg-primary-500 text-light-900 flex gap-2 rounded-full !important;
  }

  .shad-button_primary_round {
    @apply h-auto bg-primary-500 hover:bg-primary-500 text-light-900 flex gap-2 rounded-full text-xl p-4 !important;
  }

  .shad-button_back_round {
    @apply h-auto bg-dark-200 hover:bg-dark-200 text-light-600 hover:text-light-900 flex border-[1px] border-light-600 hover:border-light-900 gap-2 rounded-full text-xl p-4 !important;
  }

  .shad-button_dark {
    @apply h-11 bg-dark-100 p-3 text-light-800 flex gap-2 flex-center rounded-lg text-[13px] cursor-pointer !important;
  }

  .account_selection_button {
    @apply flex h-16 w-full cursor-pointer items-center justify-start gap-9 rounded-2xl border-2 border-dark-300 bg-dark-250 px-3 py-11 text-xl font-medium text-light-600 hover:bg-dark-300 hover:text-light-900 !important;
  }

  /* Input OTP */

  .shad-input_otp {
    @apply rounded-sm border-none bg-dark-400 p-6 !important;
  }
}

/* custom CSS Styles */

.auth-or {
  color: #e6e6e6;
  overflow: visible;
  text-align: center;
  height: 0.5rem;
  width: 100%;
  margin: 1rem 0;
  border-top: 1px solid #e6e6e6;

  &:after {
    content: "OR";
    font-size: 1rem;
    padding: 0 1rem;
    position: relative;
    top: -0.8rem;
    background: #11131b;
  }
}
